.wrapper
  width 500px
  margin 10px auto
  font-size 14px
  background-color #fff
  border 1px solid #f1f1f1
  padding 20px

.comment-input
  .comment-field-name
    display inline-block
    width 100px
    text-align left
  .comment-field-input
    display inline-block
    .username-input
      width 300px
      line-height 36px
      border-radius 3px
