@charset "utf-8";

h1, h2, h3, h4, h5, h6, ol, p {margin: 0;}
a {color: #34538b; text-decoration: none;}
form, li, ul{list-style-type: none;padding: 0; margin: 0;}
input, textarea {font-size: 100%; font-family: inherit;}
html {overflow-y: scroll;}
body { margin: 0; font-size: 14px; line-height: 1.4286;}

img, video, object, embed { border: 0; max-width: 100%; }
img {position: relative;display: inline-block; color: transparent; overflow: hidden;}

/*  */
.l {float: left;}
.r {float: right;}